/* *** Header *** */
body>header {
    height: 130px;
    padding-top: 40px;
    border-bottom-color: #555;
    
    /* Shadow */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#my-face {
    display: none;
}

/* *** Content *** */            
#content>section {
    width: 65%;
    margin: 10px 7% 10px 26%;
}

/* *** Aside *** */
#content>aside {
    width: 25%;
}

#follow-me {
    display: none;
}