/* *** Imports *** */
    @import url(http://weloveiconfonts.com/api/?family=entypo);
    /* entypo */
    [class*="entypo-"]:before {
          font-family: 'entypo', sans-serif;
    }

/* *** Global *** */
    body, a, h1, h2, h3 {
        color: #444;
    }

    body, a {
        font-family: Roboto, sans-serif;
        font-weight: 300;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        color: #5ca;
    }

    h1, h2, h3 {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
    }

    body {
        padding: 0;
        margin: 0;
    }

/* *** Header *** */
    body>header, #my-face {
        padding-top: 80px;
        
        /* Shadow */
        -webkit-box-shadow: inset 0px -5px 10px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px -5px 10px -5px rgba(0,0,0,0.75);
        box-shadow: inset 0px -5px 10px -5px rgba(0,0,0,0.75);
    }

    body>header {
        text-align: center;
        height: 180px;
        border-bottom: 2px solid black;
        background-color: #555;
    }
    body>header, body>header>h1, body>header>p {
        margin: 0;
    }

    #my-name{
        height: 70px;
        font-size: 3em;
        font-weight: 300;
        color: white;
    }
    
    #my-name strong{
        font-weight: 400;
    }
    
    #profession-title {
        height: 40px;
        font-size: 1.5em;
        margin-top: -10px;
        color: #5ca;
    }

    #my-face {
        width: 33.5%;
        height: 180px;
        margin-top: -180px;
        text-align: right;
        
        background-image: url("../images/banner_bg.png");
        background-position: center;
        background-size: 400px;
        background-color: #333;
    }

    #my-face>img {
        height: 100px;
        margin-right: -56px;
        border: 6px solid #555;
        
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }
   
    /* * Language selection * */
    #language {
        list-style-type: none;
        position: absolute;
        top: 0;
        right: 20px;
        margin: 0;
    }

    #language>li {
        margin: -2px;
        display: inline-block;   
    }

    #language>li>a {
        padding: 3px 5px;
        background: #222;
        font-weight: bold;
        border: 1px solid #555;
    }

    #language>li>a:hover {
        color: white;
    }

    #language>li.selected>a {
        padding-bottom: 6px;
        color: #5ca;
    }

/* *** Content *** */            
    #content>section {
        width: 55%;
        margin: 10px auto;
        padding: 0 10px;
    }

    #content>section>h1 .icon {
        font-size: 1.2em;
        margin-right: 5px;
    }

    #education>h1 .icon{
        color: #EDE972;
    }
    #education>h1{
        border-bottom: 1px solid #EDE972;
    }

    #experience>h1 .icon{
        color: #fab57a;
    }
    #experience>h1 {
        border-bottom: 1px solid #fab57a;
    }

    #interests>h1 .icon{
        color: #f06868;
    }
    #interests>h1 {
        border-bottom: 1px solid #f06868;
    }

/* *** Aside *** */
    #content>aside {
        float: left;
        width: 20%;
        text-align: right;
        margin-top: 7px;
    }

    #content>aside p, #content>aside ul {
        margin-top: 0;
    }

    #content>aside h1 {
        margin: 0;
    }

    #content>aside>section>ul{
        list-style-type: none;
    }

    #contact {
        margin-bottom: 10px;
    }
    #contact>p{
        margin-top: 0;
        margin-bottom: 0;
    }

    #languages>ul>li{
        font-style: italic;
    }

    #languages>ul>li>strong{
        font-style: normal;
        font-weight: 300;
    }

    #follow-me>ul>li .icon {
        font-size: 1.2em;
    }

/* *** Chrono list *** */
    ul.chrono-list {
        list-style-type: none;
        padding: 0;
    }

    ul.chrono-list>li .date, ul.chrono-list>li .title{
        display: inline-block;
    }
    
    ul.chrono-list>li .title, ul.chrono-list>li .location {
        white-space: nowrap;
    }

    ul.chrono-list>li .description {
        width: 100%;
        min-height: 20px;
        padding-top: 25px;
        margin-bottom: 10px;
        margin-left: 15%;
        font-style: italic;
    }

    ul.chrono-list>li .date {
        float: left;
        width: 15%;
    }

    ul.chrono-list>li .title {
        float: left;
        width: 50%;
        font-weight: 400;
    }

    ul.chrono-list>li .location {
        float: right;
        width: 35%;
        font-size: 0.8em;
        text-align: right;
        color: #888;
    }

    ul.chrono-list>li:hover, ul.chrono-list>li:hover .location{
        color: black;
    }

/* *** Interests *** */
    #interests>h1 {
        margin-bottom: 0;
    }

    #interests>ul{
        list-style-type: none;
        padding: 0;
        text-align: center;
    }
    #interests>ul>li{
        display: inline-block;
        background-color: #ccc;
        border: 1px solid #ccc;
        margin: 1px;
        padding: 2px 5px;
        font-size: 0.9em;
        
        color: white;
        
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    #interests>ul>li.cat-1 {
        background-color: #507FC0;
        border-color: #507FC0;
    }
    #interests>ul>li.cat-2 {
        background-color: #5c6;
        border-color: #5c6;
    }
    #interests>ul>li.cat-3 {
        background-color: #cb5;
        border-color: #cb5;
    }
    #interests>ul>li.cat-4 {
        background-color: #c75;
        border-color: #c75;
    }


/* *** Responsive rules *** */
    @media screen and (min-width: 1024px){
        #content {
            margin: 0 10%;
        }
    }

    @media screen and (max-width: 768px){
        #content>aside {
            float: none;
            width: 90%;
            margin: 0 auto;
            text-align: left;
            padding: 5px 5%;
            background-color: #ddd;
        }
        
        #content>aside>section {
            display: inline-block;
            width: 22%;
            vertical-align: top;
            margin-left: 2%;
            
            height: 150px;
            
            border-right: 1px solid #888;
        }
        
        #content>aside>section:last-child{
            border: none;
        }
        
        #content>aside>section ul {
            padding: 0;
        }
        
        #content>section {
            width: 90%;
        }
    }

    @media screen and (max-width: 600px){
        body>header {
            padding-top: 40px;
            height: 100px;
        }
        
        body>header>h1{
            font-size: 2em;
        }
        
        body>header>p{
            font-size: 1.2em;
        }
        
        /* Remove the face for mobile device */
        #my-name {
            margin-top: 0;
        }
        #my-face {
            display: none;
        }

        #content>aside>section {
            display: block;
            width: 100%;
            height: inherit;
            border: none;
            border-bottom: 1px solid #888;
            
            text-align: center;
        }
        
        #content>aside>section>ul li{
            display: inline-block;
            margin: 0 5px;
        }
    }
    
    /* Tricky resizing for the face to not cover the name */
    @media screen and (max-width: 1300px){
        #my-face {
            width: 30%;
        }
    }            
    @media screen and (max-width: 1000px){
        #my-face {
            width: 25%;
        }
    }            
    @media screen and (max-width: 768px){
        #my-face {
            width: 15%;
        }
    }